// .aboutText {
// 	background: #ffeaaa;
// 	color: #2d3f4b;
// }

.aboutDiv {
	margin: 20px auto;
	background: #ffeaaa;
	width: 90%
}

.aboutText {
	color: #2d3f4b;
	padding: 15px 20px;
	text-align: center;
}
