// run this command at the root: sass --watch style/style.scss:style/style.css
$blue: #2d3f4b;
$red: #f04442;
$white: #ffeaaa;
$yellow: #f4c435;
$green: #97be47;

body {
  background-color: $yellow;
}

/*-----main container---*/
.mainContainer {
  background-color: $blue;
  width: 90%;
}

.about,
.techStack,
.groupPhoto {
  border-top: 3px solid $red;
}
/*----grid-------*/
.gridWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 85%;
  min-height: 200px;
  margin: 20px auto;

  .cohortCard {
    width: 30%;
    border: 1px solid red;
    margin-top: 10px;

    .cardImg {
      height: 120px;
      width: 90%;
      img {
        max-width: 80%;
      }
    }
  }

}

// Styling for techStack  //

.techStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  border: 2px solid black;
  margin: 20px auto;

  div {
    display: flex;
    align-items: center;
    margin: 2rem;
  }

    .techImg {
      max-width: 100px;
      max-height: 100px;
    }
}
